:root {
  /* Colors */
  --primary-color: #1f2933; /* dark slate text */
  --secondary-color: #4b5563; /* softer gray text */
  --accent-color: #2563eb; /* blue accent */
  --brightAccent-color: #a0beff; /* blue accent */
  --furtherBackground-color: #111827; /* very dark nav/footer */
  --background-color: #f9fafb; /* page background */
  --content-bg: #ffffff; /* content area */
  --linkHover-color: #007abc; /* blue for link hovers */

  /* Font */
  --font-family: "Rubik", sans-serif;
  --expandedFont-family: "Zalando Sans Expanded", "Rubik", sans-serif;
}

/* Applies to everything in body */
body {
  font-family: var(--font-family);
  background-color: var(--furtherBackground-color);
  margin: 0;
  overflow-x: hidden;
}


/* Container for the main content inside adds padding for visual appeal */
.body-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 40px;
}
/* behind the body container so that the rest of the page is the dark background */
.container {
  background-color: var(--background-color);
}

/* Custom Hero sizing and coloring! */
.hero {
  max-width: 1200px;
  height: min-content;
  margin: 0 auto;
  padding: 20px 25px 0px 25px;
  padding-bottom: 0;
}

header.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 0;
  max-width: 1200px;
  gap: 70px;
  color: white;
}

header.hero h1 {
  font-size: clamp(4rem, 10vw, 8rem);
  line-height: 0.9;
  opacity: 0.8;
  margin: 0;
  font-family: var(--expandedFont-family);
  font-weight: 400;
}

.hero-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  border-radius: 15px;
  justify-self: end;
}

/* Navigation */

.nav-container {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--furtherBackground-color);
  z-index: 1000;
  font-family: var(--expandedFont-family);
}
.current-page a {
  color: var(--brightAccent-color);
}
.current-page a::after {
  width: 100%;
}
.logo {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

nav ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: white;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--brightAccent-color);
  transition: width 0.3s ease;
}

nav ul a:hover {
  transform: translateY(-2px);
  color: var(--brightAccent-color);
}

nav ul a:hover::after {
  width: 100%;
}

nav ul a:focus {
  outline: 2px solid var(--brightAccent-color);
  outline-offset: 4px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: var(--furtherBackground-color);
  color: white;
  margin-top: 10px;
  font-family: var(--font-family);
}

.button {
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: var(--brightAccent-color);
  color: var(--primary-color);
}

.linkStyle a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.linkStyle a:hover {
  color: var(--linkHover-color);
}

.linkStyle {
  display: flex;
  gap: 20px;

  list-style: none;
  padding: 0;
}

.emailStyle {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.smallerParagraph {
  max-width: 600px;
}

.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.buttonStyle a {
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.buttonStyle a:hover {
  transform: scale(1.05);
  background-color: var(--brightAccent-color);
  color: var(--primary-color);
}
.listButtonStyle {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 1.2;
  margin: 0;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 2px;
}

.projectCards {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 20px;
  justify-content: start;
  align-items: start;
  height: fit-content;
}

.projectCardLayout {
  width: 400px;
  height: min-content;
  margin: 0;
  background-color: var(--content-bg);
  padding: 20px;
  border-radius: 10px;
}

.projectCardLayout img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.projectCardLayout h2 {
  margin-top: 0;
  margin-bottom: 0px;
}
.projectCardLayout p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.projectCardLayout a {
  margin-top: 0;
}

.contactSection {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 50px 0;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--content-bg);
  padding: 20px 35px;
}

.contactContainer .item {
  margin: 0;
}

.item .socialIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.item .socialIcon:hover {
  transform: scale(1.2);
}

/* 900 LAYOUT */
@media (max-width: 900px) {
  header.hero {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }
  .contactSection {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 50px 0;
  }

  .projectCards {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
    height: fit-content;
    padding: 0px 20px 10px 0px;
  }

  .projectCardLayout {
    width: 100%;
    height: min-content;
    margin: 0;
    background-color: var(--content-bg);
    padding: 20px;
    border-radius: 10px;
  }

  .projectCardLayout img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .projectCardLayout h2 {
    margin-top: 0;
    margin-bottom: 0px;
  }
  .projectCardLayout p {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .projectCardLayout a {
    margin-top: 0;
  }

  .hero {
    padding: 50px 10px 0;
  }

  .hero-text {
    display: flex;
    justify-content: center;
  }

  .hero-img {
    display: flex;
    justify-content: center;
  }

  .hero-img img {
    max-width: 320px;
  }

  .welcome-section {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .nav-container {
    flex-direction: column;
    gap: 16px;
    padding: 18px 20px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

/* Hide logo at 900 */
@media (max-width: 900px) {
  .logo {
    display: none;
  }

  .nav-container {
    justify-content: center;
  }
}

/* MOBILE LAYOUT */
@media (max-width: 600px) {
  .hero {
    padding: 30px 10px 0;
  }

  .welcome-section {
    gap: 20px;
  }

  header.hero h1 {
    font-size: 3.5em;
    line-height: 1;
    opacity: 0.8;
    margin: 0;
    font-family: var(--expandedFont-family);
    font-weight: 400;
  }
}
