* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  border-top: rgb(139, 80, 80) 1mm solid;
  border-bottom: rgb(139, 80, 80) 1mm solid;
  background: url(top-image.png) no-repeat top left, url(bottom-image.png) no-repeat;
  background: linear-gradient(to bottom, #dadada 0%, white 50%, #dadada 100%);

}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  /* Logo Background */
  background: no-repeat url('logo.png');
  filter: drop-shadow(1px 1px 5px black);

}

.imgHeader {
  width: 100%;
}

.imgFooter {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}